<ul class='grid-item'>
  <div class='dimension-header'>
    <%=
      html_safe_translations(
        Translation.find_translation_name(
          @locale_code,
          Resource.get_type_key(@treeTypeRec.code, @versionRec.code, resource.resource_code),
          nil
        )
      )

    %>
  </div>
  <% path = resource.id ? edit_resource_path(resource.id) : new_resource_path(resource: { resource_code: resource.resource_code, resourceable_id: @dimension.id, resourceable_type: 'Dimension' }) %>
  <li class="dimension-item padding-left padding-right min-height">
    <%= link_to(fa_icon("edit"), path, {:class => "fa-lg pull-right", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit_type?(@dimension.dim_code) %>
    <%=
      html_safe_translations(
        Translation.find_translation_name(
          @locale_code,
          resource.name_key,
          '--'
        )
      )
    %>

  </li>
</ul>