<div class="row button-row">
  <span class='col col-md-12'>
    <%= form.submit  I18n.translate('app.labels.cancel') %>
    <button class='btn btn-primary btn-sm' type='submit' name='submit'><%= I18n.translate('app.labels.submit') %></button>
  </span>
</div>
