<% content_for(:title, 'OTC Listing') %>
<% content_for(:page_class, 'curriculum') %>

<div class='text-center'>
  <h1>OTC Listing</h1>
  <%= render partial: 'select_form' %>
</div>

<div class='container'>
  <div id="tree"></div>
</div>

<script>
var otcTree = <%= raw @otcJson %>;
$('#tree').treeview({data: otcTree, levels: 1});
</script>
