<% content_for(:title, 'OTC Listing') %>
<% content_for(:page_class, 'trees') %>

<div class='text-center'>
  <h1>OTC Listing</h1>
  <%= render partial: 'select_form' %>
</div>

<div class='container'>
  <div class='text-center'>
    <button id='showAreas' onclick="$('#tree').treeview({data: otcTree, levels: 1})">Show Areas</button>
    <button id='showComponents' onclick="$('#tree').treeview({data: otcTree, levels: 2})">Show Components</button>
    <button id='showOutcomes' onclick="$('#tree').treeview({data: otcTree, levels: 3})">Show Outcomes</button>
    <button id='showIndicators' onclick="$('#tree').treeview({data: otcTree, levels: 4})">Show Indicators</button>
  </div>
  <div id="tree"></div>
</div>

<script>
var otcTree = <%= raw @otcJson %>;
$('#tree').treeview({data: otcTree, levels: 1});
</script>
