<% content_for(:title_code, 'trees.index.name') %>
<% content_for(:page_class, 'trees') %>

<br>
<div class='text-center'>
  <h2 id="sequencing-header"><%= translate('trees.sequencing.title') %></h2>
</div>
<div id="trees" class="sequence-page">
  <div class="sequence-grid">
	<% @s_o_hash.each do |i, j| %>
      <div class="sequence-item">
        <ul>
          <li class="sequence-header"><%= Translation.where(locale: @locale_code, key: @subjects[i].base_key + ".name").first.value %></li>
        <% j.each do |k| %>
          <li class="sequence-item"> 
            <a href="<%= tree_path(k[:id])%>"><%= k[:text] %></a>
          </li>
        <% end %>
        </ul>
      </div>
  <% end %>
  </div>
</div>



