// styles common throughout pages
body {
  .logoImage {
    background-image: url("/logo_shared.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .login-bg {
    background: url("/login_bg.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 93vh;
    height: 95%;
    margin: 0 -15px;
    padding-top: 3%;
    padding-bottom: 10%;
    color: black;
    a { color: red; }
    .notice, .alert {
      margin-top: -2%;
      color: white;
      text-shadow: 0 0 10px black;
    }
    h1 {
      font-size: 5em;
      font-weight: bold;
      max-width: 60%;
      margin: auto;
      color: #ff3a3a;
      text-shadow: 0 0 10px black;
    }
    .login-form {
      background: white;
      opacity: 1;
      border-radius: 10px;
      max-width: 75vw;
      display: inline-block;
      margin: auto;
      padding: 10px 15px;
      box-shadow: 0 0 10px black;
      #user_work_address { width: 100%; }
      &.small-right {
        float: right;
        margin-top: 12vw;
        margin-right: 2vw;
        margin-bottom: 2vw;
      }
    }
  }

  .smallest-text {
    font-size: 0.6rem;
  }
  .smaller-text {
    font-size: 0.8rem;
  }
  .medium-text {
    font-size: 1.0rem;
  }
  .larger-text {
    font-size: 1.2rem;
  }
  .largest-text {
    font-size: 1.4rem;
  }
  .font-size-select span {
    margin: 2px;
    cursor: pointer;
    // list-style-position: none;
  }
  #selectCurriculumDropdown {
    margin: 10px 5px;
  }
  .stack {
    clear: both;
    display: block;
  }
  .dropdown-menu {
    left: inherit;
  }
  #modal_popup{
    textarea {
      width: 100%;
    }
    fieldset {
      margin-bottom: 10px;
    }
    label {
      font-weight: bold;
    }
    select {
      max-width: 100%;
    }
  }

  .show-hide-gradeband {
    color: grey;
  }

  .rotate {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
  }
  .rotate.option-selected {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
  }

  span.option-selected {
    font-weight: bold;
    color: black;
  }

  .accordion {
    &:hover {
      cursor: pointer;
    }
  }

  .tooltip {
    * {
      width: 40vw;
    }
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-top {
    margin-top: 20px;
  }

  .left-justify {
    text-align: left;
  }
  .padding-bottom {
    padding-bottom: 10px;
  }

  .padding-top {
    padding-top: 10px;
  }
  .padding-left {
    padding-left: 15px;
  }

  .padding-right {
    padding-right: 15px;
  }

  .right-margin {
    margin-right: 5px;
  }

  .min-height {
    min-height: 75px;
  }

  .generic-grid {
    display: grid;
    width: 100%;
    align-content: space-around;
    &.generic-grid--xl-xs { grid-template-columns: 89% 4%; }
    &.generic-grid--cols-1 { grid-template-columns: 100% }
    &.generic-grid--cols-2 { grid-template-columns: 50% 50%; }
    &.generic-grid--cols-3 { grid-template-columns: 33% 33% 33%; }
    &.generic-grid--cols-4 { grid-template-columns: 25% 25% 25% 25%; }

    &.generic-grid--labels-1 { grid-template-columns: 100%; }
    &.generic-grid--labels-2 { grid-template-columns: 50% 50%; }
    &.generic-grid--labels-3 { grid-template-columns: 33.33% 33.33% 33.33%; }
    &.generic-grid--labels-4 { grid-template-columns: 25% 25% 25% 25%; }
  }
}

.dark-border {
  border: 1px solid black;
}
.dark-border--left {border-left: 1px solid black;}
.dark-border--right {border-right: 1px solid black;}

.cloud-tag {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  margin: 2px 5px;
  display: inline-block;
}

// use font awesome fonts for glyphicon classes (for bootstrap 3 treeview library)
.treeview {
  text-align: left;
  .glyphicon {
    @extend .fa;
  }
  .glyphicon-minus {
    @extend .fa-minus;
  }
  .glyphicon-plus {
    @extend .fa-plus;
  }
  .glyphicon-unchecked {
    @extend .fa-square-o !optional;
  }
  .glyphicon-check {
    @extend .fa-check-square-o !optional;
  }
}
#main-container {
  text-align: center;
}
.align-left {
  text-align: left;
}
.error, .alert, #error_explanation {
  color: red;
  font-size: larger;
  text-align: left;
}
.notice {
  color: green;
  font-size: larger;
  text-align: left;
}
.link-blue {
  color: #007dff;
}
form {
  .label-col {
    text-align: right;
  }
  .input-col {
    text-align: left;
  }
  .button-row {
    text-align: center;
  }
  .required {
    color: red;
    font-size: larger;
    width: 10px;
    display: inline-block;
  }
  .field_with_errors {
    display: inline-block;
    color: red;
  }
  .ui-error {
    color: red;
  }

}

.sub-menu a.btn {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.row-stripes {
  .row:nth-child(even), td:nth-child(even) {
    background-color: #e5ffff;
  }
}

.hidden {
  display: none;
}

#modal_popup .close {
  text-align: right;
  padding: 5px;
}

#modal_popup #modal-container {
  margin-top: -30px;
  .modal-header {
    margin: 0 auto;
  }
}
