
#pageHeader {
  #pageHeaderLogo {
     margin-left: 0px;
     min-width: 100px;
     .logoImage {
       /* background-image: url(asset_path('logo.png'));*/
       background-repeat: no-repeat;
       width: 100px;
       height: 77px;
     }
  }
  #pageHeaderShowNav {
  }
  #locale-select {
    text-decoration: none;
    list-style: none;
    margin: 0;
    .cur-locale {
      font-weight: bold;
      color: blue;
    }
    .locale-opt {
      font-size: smaller;
      line-height: 20px;
    }
  }
}

nav#topNav {
  max-width: 100%;
  .nav-item a.nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
  }
  li.nav-item.active {
    font-weight: bold;
    background-color: #ddd;
  }
}


@media only screen and (max-width: 767px) {
  #pageHeaderTitle {
    display: none;
  }
  #pageSubHeaderTitle {
    margin: 0 auto;
    max-width: 300px;
    h1 {
      font-size: 1.5rem;
      margin-top: 15px;
    }
  }
}

@media only screen and (min-width: 768px) {
  #pageSubHeaderTitle {
    display: none;
  }
  #pageHeaderTitle {
    margin: 0 auto;
    min-width: 300px;
    h1 {
      font-size: 1.5rem;
      margin-top: 15px;
    }
	}
}
