// styles only for curriculum (trees) pages
// to activate these classes in a page, include the following at the top:
//   <% content_for(:page_class, 'trees') %>
//
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SCSS for curriculum (trees) pages
#main-container.trees {

  // tighten up treeview item height by 20 pixels (10 off of top and bottom)
  #tree .list-group .list-group-item {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid black;

    // attempts to indent not working
    // note all items are in a single depth ul.
    // a {
    //   text-indent:2em;
    //   margin-left:-3em;
    //   line-height:1;
    // }

    // prevent underline on area and component links
    a[href='javascript:void(0);'] {
      color:inherit;
      text-decoration:none;
      pointer-events:none;
    }
  }

  // curriculum listing select form or sectors listing link
  form#new_tree {
  }
  .filter-container {
    overflow: hidden;
    border: 1px solid black;
    .filter-curriculum {
      float: left;
      padding-bottom: 5px;
    }
    .filter-sectors {
      float: left;
    }
  }

  .detail-page {
    .col {
      text-align: left;
    }
    .label {
      background-color: #ddd;
    }
    .indicator-table {
      overflow: hidden;
      margin-right: -15px;
      margin-left: -15px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      text-align: left;
    }
    .rel-sector-col, .rel-reason-col, .subject-relations {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }
    .subject-relations:last-child {
      border-bottom: none;
    }
    .row.teacher-label .col {
      text-align: center !important;
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 0px solid black;
      border-left: 1px solid black;
    }
    .teacher-grid {
      display: grid;
      margin-left: -15px;
      margin-right: -15px;
      border-top: 1px solid black;
      border-right: 1px solid black;
    }
    .teacher-item {
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      padding: 10px;
      margin: px;
    }
  }

  @media only screen and (max-width: 767px) {
    .indicator-table {
      // detail page indicator move to top on thin screens
      .indicator-name {
        float: none;
        width: 100%;
        border-bottom:1px solid black;
        border-left: 1px solid black;
        text-align: left;
      }
      .indicator-info {
        float: none;
        width: 100%;
      }
    }
    // put sectors listing button next to curriculum filter
    .filter-curriculum {
      float: none;
      width: 100%;
      border-bottom: 1px solid black;
    }
    .filter-sectors {
      float: none;
      width: 100%;
    }
    .teacher-grid {
      grid-template-columns: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    // detail page indicator move to top on thin screens
    .indicator-table {
      border-left: 1px solid black;
    }
    .indicator-name {
      float: left;
      min-width: 200px;
      width: 30%;
    }
    .indicator-info {
      float: left;
      width: 70%;
    }
    // put sectors listing button next to curriculum filter
    .filter-curriculum {
      float: none;
      width: 70%;
      border-right: 1px solid black;
    }
    .filter-sectors {
      float: none;
      width: 30%;
    }
    .teacher-grid {
      grid-template-columns: auto auto;
    }
  }

// end of SCSS for curriculum (trees) pages
}
