// styles only for curriculum (trees) pages
// to activate these classes in a page, include the following at the top:
//   <% content_for(:page_class, 'trees') %>
//
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SCSS for curriculum (trees) pages
#main-container.trees {

  .filter-container {
    overflow: hidden;
    border: 1px solid black;
    .filter-sectors {
      float: left;
    }
  }

  // tighten up treeview item height by 20 pixels (10 off of top and bottom)
  #tree .list-group .list-group-item {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid black;

    // attempts to indent not working
    // note all items are in a single depth ul.
    // a {
    //   text-indent:2em;
    //   margin-left:-3em;
    //   line-height:1;
    // }

    // prevent underline on area and component links
    a[href='javascript:void(0);'] {
      color:inherit;
      text-decoration:none;
      pointer-events:none;
    }
  }
  #main-container.trees .detail-page .related-items-table .center-label {
    background-color: #ddd;
    text-align: center !important;
    border-bottom: 1px solid black;
  }

  .sequence-page, .dimension-page {
    .block {
      display: block;
    }
    .negative-margin-left {
      margin-left: -.9em;
    }

    .drop-placeholder {
      background-color: lightgray;
      height: 3.5em;
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: 1.2em;
    }

    .hide-unless-condition {
      display: none;
    }

    .show-connections-condition .hide-unless-condition {
      display: inline-block;
    }

    .sequence-grid, .dimension-grid {
      display: grid;
      margin-left: -15px;
      margin-right: -15px;
      border-top: 1px solid black;
    }

    .filter-grid {
      display: grid;
      border: 1px solid grey;
      margin: 1vh auto;
      max-width: 550px;
      font-size: 90%;
      text-align: left;
      ul {
        border: none;
      }
    }

    .sequence-grid.cols-6, .dimension-grid.cols-6 {
       grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    }

    .sequence-grid.cols-5, .dimension-grid.cols-5 {
       grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .sequence-grid.cols-4, .dimension-grid.cols-4, .filter-grid.cols-4 {
       grid-template-columns: 25% 25% 25% 25%;
    }

    .sequence-grid.cols-3, .dimension-grid.cols-3 {
       grid-template-columns: 33% 33% 33%;
    }

    .sequence-grid.cols-2, .dimension-grid.cols-2 {
       grid-template-columns: 50% 50%;
    }

    .hidden { display: none; }

    .subj-checkbox {
      display: inline-block;
      vertical-align: top;
      margin: 10px;
      text-align: left;
      .gradebands-list {
        border: none;
        text-align: left;
        font-size: 95%;
        li {
          clear: both;
        }
      }
    }

    ul {
      list-style-type: none;
      list-style-position: none;
      margin: 0 15px 0 15px;
      padding: 0;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    .sequence-header, .dimension-header {
      background: lightgrey;
      text-align: center;
    }

    .sequence-item, .dimension-item {
      text-align: left;
    }

    ul.maint-column {
      li {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0 5px;
      }
      li.maint-header {
        background: lightgrey;
        text-align: left;
      }
      li.maint-sub-header {
        background: #eeeeee;
        text-align: left;
      }
      li.maint-item {
        text-align: left;
      }
      .indent-0 { margin-left: 0px; }
      .indent-1 { margin-left: 5px; }
      .indent-2 { margin-left: 10px; }
      .indent-3 { margin-left: 15px; }
      .indent-4 { margin-left: 20px; }
      .indent-5 { margin-left: 25px; }
      .indent-6 { margin-left: 30px; }
      .indent-7 { margin-left: 35px; }
      .indent-8 { margin-left: 40px; }
    }

    .sequence-item, .sequence-header, .dimension-item, .dimension-header {
      list-style-type: none;
      list-style-position: none;
      width: 100%;
      border-bottom: 1px solid black;
      a {
        width: 100%;
      }
      .icon-link {
        color: black;
      }
      .icon-link:hover {
        color: blue;
      }
      .spotlight .connections-icon {
        color: blue;
      }
      .spotlight .connections-icon:hover {
        color: brown;
      }
      .lo-handle, .show-hide-gradeband {
        cursor: pointer;
      }


    }
    .collapsed .hide-if-collapsed {
      display: none;
    }

    .collapsed .truncate-if-collapsed {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 30px;
      max-width: 72%;
      white-space: nowrap;
    }
    .relationship-color-key {
      width: 1em;
      height: 1em;
      margin: 0 2px;
      display: inline-block;
      border: 1px solid black;
    }
    .spotlight {
      border-color: black;
      outline: 3px solid black;
      z-index: 100;
    }
    .spotlight-akin {
      background: #eeeefe;
    }
    .spotlight-applies {
      background: lightyellow;
    }
    .spotlight-depends {
      background: orange;
      a {
        color: darkblue;
        i {
          color: black;
        }
        i:hover {
          color: blue;
        }
      }
    }

    .ui-draggable-helper {
      width: 120px;
      height: 80px;
      overflow: hidden;
    }
  }

  .detail-page {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .grid-2 {
      display: grid;
      grid-template-columns: 50% 50%;
      .row {
        margin-right: 0;
        margin-left: 0;
        border-right: 1px solid black;
      }
    }
    .label {
      background-color: #ddd;
    }
    .top-label {
      margin-top: 10px;
      background-color: #ddd;
      border-top: 3px solid black;
      border-right: 1px solid black;
      border-bottom: 0px solid black;
      border-left: 1px solid black;
    }

    .center-label-bold {
      background-color: #ddd;
      text-align: center !important;
      border-bottom: 1px solid black;
      font-weight: bold;
    }
    .center-label {
      background-color: #ddd;
      text-align: center !important;
      border-bottom: 1px solid black;
    }
    .related-items-table {
      // border-top: 1px solid black;
      // border-right: 1px solid black;
      // border-bottom: 1px solid black;
      border: 0px;
      text-align: left;
    }

    .ind-col {
      text-align: left;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }
    .last-col {
      border-right: 1px solid black;
    }
    .rel-sector-col, .rel-reason-col, .subject-relations, .rel-sectors {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      a .pull-right i {
        margin-left: 5px;
      }
    }
    .rel-sectors {
      padding: 0, 10px;
      min-height: 40px;
    }
    .subject-relations:last-child {
      border-bottom: none;
    }
    .row.teacher-label .col {
      text-align: center !important;
      font-weight: bold;
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 0px solid black;
      border-left: 1px solid black;
    }
    .teacher-grid {
      display: grid;
      /* margin-left: -15px;
      margin-right: -15px; */
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      .rel-sectors {
        border: none;
      }
    }
    .teacher-item {
      padding-bottom: 10px;
      border-bottom: none;
    }
    .teacher-item:nth-child(odd) {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    .connections-grid {
      display: grid;
      grid-template-columns: 10% 10% 13% 67%;
      /* margin-left: -15px;
      margin-right: -15px; */
      border-top: 1px solid black;
      border-right: 1px solid black;
    }
    .connections-header {
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      padding-bottom: 10px;
    }
    .connections-item {
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      padding: 0 10px;
      a .pull-right i {
        margin-left: 5px;
      }
    }

    .sub-header-margin {
      margin: 0 10px;
      border: 1px solid black;
    }
  }

  .related-items-table {
    word-wrap: break-word;
  }

  .maint-column {
    .top-label {
      margin-top: 10px;
      text-decoration: underline;
      font-weight: bold;
    }

    .related-items-table {
      border: none;
      text-align: left;
      padding-left: 10px;
      margin-bottom: 15px;
      .hide-children .parent-can-hide {display: none;}
      .parent-can-hide {
       padding-left: 5px;
       padding-right: 5px;
      }
      .parent-can-hide:last-child {padding-right: 15px;}
      .col {
        border-radius: 10px;
        background-color: #eeeeee;
        height: 96%;
        hr {
          border-top: 1px solid black;
          margin: 2px;
        }
      }
      .comp-col.col, .spacer {
        border: none;
        background-color: white;
      }
    }

    .letter-icon {
      border-radius: 10px;
      padding: 2px 5px;
      font-weight: bold;
      background-color: #ddd;
    }
  }

  @media only screen and (max-width: 767px) {
    .related-items-table {
      // detail page indicator move to top on thin screens
      .related-items-name {
        float: none;
        width: 100%;
        border-bottom:1px solid black;
        border-left: 1px solid black;
        text-align: left;
      }
      .indicator-info {
        float: none;
        width: 100%;
      }
    }
    // put sectors listing button next to curriculum filter
    .filter-curriculum {
      float: none;
      width: 100%;
      border-bottom: 1px solid black;
    }
    .filter-sectors {
      float: none;
      width: 100%;
    }
    .teacher-grid {
      grid-template-columns: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    // detail page indicator move to top on thin screens
    .related-items-table {
      border-left: 1px solid black;
    }
    .related-items-name {
      float: left;
      min-width: 200px;
      width: 30%;
    }
    .indicator-info {
      float: left;
      width: 70%;
    }
    // put sectors listing button next to curriculum filter
    .filter-curriculum {
      float: none;
      width: 100%;
      border-right: 1px solid black;
    }
    // .filter-sectors {
    //   float: none;
    //   width: 30%;
    // }
    .teacher-grid {
      grid-template-columns: auto auto;
    }
  }

  @media only screen and (min-width: 992px) {
    .spacer {
      display: none;
    }
  }

// end of SCSS for curriculum (trees) pages
}
