// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#uploadsTable {
  width: 100%;
}

#uploadsTable th {
  background-color: #ddd;
}

.titleList, statusList {
  list-style-type: none;
  width: 250px;
  margin: 0 auto;
  li {
    text-align: left;
  }
}

div.progress {
  border: 2px solid black;
}
