// Place all the styles related to the Uploads pages here.
// to activate these classes in a page, include the following at the top:
//   <% content_for(:page_class, 'uploads') %>
//
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SCSS for uploads pages
#main-container.uploads {

  #uploadsTable {
    width: 100%;
    th {
      background-color: #ddd;
    }
  }

  .titleList, .statusList {
    list-style-type: none;
    width: 250px;
    margin: 0 auto;
    li {
      text-align: left;
    }
  }

  div.progress {
    border: 2px solid black;
  }


  // tighten up report item height by 20 pixels (10 off of top and bottom)
  #uploadReport tbody td {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
  }

  .uploadSummary {
    .uploadName {
      width: 19%;
      border: 1px solid black;
    }
    .uploadDetails {
      text-align: left;
      width: 79%;
      border: 1px solid black;
    }
  }

  // end of SCSS for uploads pages
}
