<div class='teacher-item'>
  <div class='center-label sub-header-margin'>
    <%= Outcome.get_ref_name(Outcome::RESOURCE_TYPES[code], @locale_code, @sectorName) %>
  </div>
  <div class="rel-sectors text-left padding-left padding-right row margin-top margin-bottom">
    <div class="col col-11">
      <%= Translation.find_translation_name(
      @locale_code,
      @tree.outcome.get_ref_key(Outcome::RESOURCE_TYPES[code]),
      ""
      ).html_safe %>
    </div>
    <div class="col col-1">
     <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: Outcome::RESOURCE_TYPES[code] }), {:class => "fa-lg pull-right", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit_type?('resource') %>
    </div>
  </div>
</div>