<!-- Supporting Resources Table -->
<div class='row teacher-label top-label'>
  <div class='col col-lg-12'>
    <%= I18n.t('trees.labels.teacher_header') %>
    <%= link_to(fa_icon("gear"), edit_tree_path(@tree.id, tree: {edit_type: "ref_settings##{resource_codes.join('#')}"}), {:class => "fa-lg", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit_type?('resource_titles') %>
  </div>
</div>
<div class='teacher-grid'>
<% resource_codes.each do |c| %>
  <% code = Outcome::RESOURCE_TYPES[c.to_i] %>
  <%= render partial: "/trees/show/resource", locals: {
          type_code: code,
          render_label: true
        }
  %>
<% end %>
</div>