<% resource_key = @tree.outcome.get_resource_key(type_code) %>
<div class='dark-border--left teacher-item'>
  <% if render_label %>
  <div class='center-label sub-header-margin'>
    <%= Outcome.get_resource_name(type_code, @treeTypeRec.code, @versionRec.code, @locale_code) %>
  </div>
  <% end %>
  <div class="generic-grid generic-grid--xl-xs">
    <div class="text-left padding-left padding-right row padding-top padding-bottom">
      <%= Translation.find_translation_name(
      @locale_code,
      resource_key,
      ""
      ).html_safe if can_view_type?(type_code) %>
    </div>
    <div class="col col-1">
     <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: type_code }, translation: {key: resource_key}), {:class => "fa-lg pull-right", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && (can_edit_type?('resource') || current_user.subject_admin?(@subject_code)) %>
    </div>
  </div>
</div>