<% st = details %>
<div class='row dark-border--left'>
  <div class='col col-lg-12 padding-left padding-right padding-top margin-top margin-bottom'>
    <%= link_to(
      "#{@translations[st.sector.name_key]}",
      sectors_path(
        controller: 'sector',
        action: 'index',
        tree: {
          sector_id: "#{st.sector.id}",
          grade_band_id: "#{@tree.grade_band_id}",
          subject_id: "#{@tree.subject_id}"
        }
      ),
      html_options = {data: { :sector => st.sector.id }}
    ) if details %>
    <% if details && @editMe && can_edit %>
      <%= link_to(fa_icon("times"), tree_path(@tree.id, tree: { edit_type: 'sector', attr_id: st[:id], active: false}, sector_tree: {active: false}), {:class => "fa-lg", 'data-confirm' => I18n.t('app.labels.confirm_deactivate', item: @translations[st.sector.name_key]), method: :patch}) if @editMe %>
    <% end %>
  </div>
</div>