<header id='pageHeader' class='row'>
  <a id='pageHeaderLogo' href='#' class='col-3'>
    <span class='logoImage'></span>
    <span class='logoText'>BiH<br>ENABLE</span>
  </a>
  <div id='pageHeaderTitle' class='col-8'>
    <h1><%= translate('header.site_title') %></h1>
  </div>
  <div id='pageHeaderShowNav' class='col-1'>
    <i class="fa fa-bars fa-2x"></i>
  </div>
</header>
<nav id='topNav' class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item active" aria-selected='true'>
      <a class="nav-link">Curriculum</a>
    </li>
    <li class="nav-item" role='menuitem'>
      <a class="nav-link" href="#">Documents</a>
    </li>
    <li class="nav-item" role='menuitem'>
      <a class="nav-link" href="#">Translations</a>
    </li>
    <li class="nav-item" role='menuitem'>
      <a class="nav-link" href="#">Configuration</a>
    </li>
  </ul>
</nav>
